data/cifar-100-python.tar.gz
data/cifar-100-python/file.txt~
data/cifar-100-python/meta
data/cifar-100-python/test
data/cifar-100-python/train
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
results/cifar100_average_results.pt
results/cifar100_client_0_results.pt
results/cifar100_client_1_results.pt
results/cifar100_server_results.pt
results/mnist_average_results.pt
results/mnist_client_0_results.pt
results/mnist_client_1_results.pt
results/mnist_server_results.pt
results/gan_mnist/accuracy_0.pdf
results/gan_mnist/d_losses.npy
results/gan_mnist/fake_scores.npy
results/gan_mnist/g_losses.npy
results/gan_mnist/loss_0.pdf
results/gan_mnist/real_images.png
results/gan_mnist/real_scores.npy
__pycache__/utils.cpython-312.pyc
siamese_net
client_identification_backup.py
euclidian_net
model.png
testspace.ipynb
__pycache__/models.cpython-312.pyc
__pycache__/participants.cpython-312.pyc
__pycache__/snn.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
results/gan_mnistD_0.ckpt
results/gan_mnistD_1.ckpt
results/gan_mnistD_2.ckpt
results/gan_mnistD_3.ckpt
results/gan_mnistD_4.ckpt
results/gan_mnistD_5.ckpt
results/gan_mnistD_6.ckpt
results/gan_mnistD_7.ckpt
results/gan_mnistD_8.ckpt
results/gan_mnistD_9.ckpt
results/gan_mnistG_0.ckpt
results/gan_mnistG_1.ckpt
results/gan_mnistG_2.ckpt
results/gan_mnistG_3.ckpt
results/gan_mnistG_4.ckpt
results/gan_mnistG_5.ckpt
results/gan_mnistG_6.ckpt
results/gan_mnistG_7.ckpt
results/gan_mnistG_8.ckpt
results/gan_mnistG_9.ckpt
results/mnist_client_2_results.pt
results/mnist_client_3_results.pt
results/mnist_client_4_results.pt
results/mnist_client_5_results.pt
results/mnist_client_6_results.pt
results/mnist_client_7_results.pt
results/mnist_client_8_results.pt
results/mnist_client_9_results.pt
results/fake_datasets_mnist/fake_dataset_0.pt
results/fake_datasets_mnist/fake_dataset_1.pt
results/fake_datasets_mnist/fake_dataset_2.pt
results/fake_datasets_mnist/fake_dataset_3.pt
results/fake_datasets_mnist/fake_dataset_4.pt
results/fake_datasets_mnist/fake_dataset_5.pt
results/fake_datasets_mnist/fake_dataset_6.pt
results/fake_datasets_mnist/fake_dataset_7.pt
results/fake_datasets_mnist/fake_dataset_8.pt
results/fake_datasets_mnist/fake_dataset_9.pt
results/gan_mnist/accuracy_1.pdf
results/gan_mnist/accuracy_2.pdf
results/gan_mnist/accuracy_3.pdf
results/gan_mnist/accuracy_4.pdf
results/gan_mnist/accuracy_5.pdf
results/gan_mnist/accuracy_6.pdf
results/gan_mnist/accuracy_7.pdf
results/gan_mnist/accuracy_8.pdf
results/gan_mnist/accuracy_9.pdf
results/gan_mnist/D--50--0.ckpt
results/gan_mnist/D--50--1.ckpt
results/gan_mnist/D--50--2.ckpt
results/gan_mnist/D--50--3.ckpt
results/gan_mnist/D--50--4.ckpt
results/gan_mnist/D--50--5.ckpt
results/gan_mnist/D--50--6.ckpt
results/gan_mnist/D--50--7.ckpt
results/gan_mnist/D--50--8.ckpt
results/gan_mnist/D--50--9.ckpt
results/gan_mnist/D--100--0.ckpt
results/gan_mnist/D--100--1.ckpt
results/gan_mnist/D--100--2.ckpt
results/gan_mnist/D--100--3.ckpt
results/gan_mnist/D--100--4.ckpt
results/gan_mnist/D--100--5.ckpt
results/gan_mnist/D--100--6.ckpt
results/gan_mnist/D--100--7.ckpt
results/gan_mnist/D--100--8.ckpt
results/gan_mnist/D--100--9.ckpt
results/gan_mnist/D--150--0.ckpt
results/gan_mnist/D--150--1.ckpt
results/gan_mnist/D--150--2.ckpt
results/gan_mnist/D--150--3.ckpt
results/gan_mnist/D--150--4.ckpt
results/gan_mnist/D--150--5.ckpt
results/gan_mnist/D--150--6.ckpt
results/gan_mnist/D--150--7.ckpt
results/gan_mnist/D--150--8.ckpt
results/gan_mnist/D--150--9.ckpt
results/gan_mnist/D--200--0.ckpt
results/gan_mnist/D--200--1.ckpt
results/gan_mnist/D--200--2.ckpt
results/gan_mnist/D--200--3.ckpt
results/gan_mnist/D--200--4.ckpt
results/gan_mnist/D--200--5.ckpt
results/gan_mnist/D--200--6.ckpt
results/gan_mnist/D--200--7.ckpt
results/gan_mnist/D--200--8.ckpt
results/gan_mnist/D--200--9.ckpt
results/gan_mnist/fake_images-0-10.png
results/gan_mnist/fake_images-0-20.png
results/gan_mnist/fake_images-0-30.png
results/gan_mnist/fake_images-0-40.png
results/gan_mnist/fake_images-0-50.png
results/gan_mnist/fake_images-0-60.png
results/gan_mnist/fake_images-0-70.png
results/gan_mnist/fake_images-0-80.png
results/gan_mnist/fake_images-0-90.png
results/gan_mnist/fake_images-0-100.png
results/gan_mnist/fake_images-0-110.png
results/gan_mnist/fake_images-0-120.png
results/gan_mnist/fake_images-0-130.png
results/gan_mnist/fake_images-0-140.png
results/gan_mnist/fake_images-0-150.png
results/gan_mnist/fake_images-0-160.png
results/gan_mnist/fake_images-0-170.png
results/gan_mnist/fake_images-0-180.png
results/gan_mnist/fake_images-0-190.png
results/gan_mnist/fake_images-0-200.png
results/gan_mnist/fake_images-1-10.png
results/gan_mnist/fake_images-1-20.png
results/gan_mnist/fake_images-1-30.png
results/gan_mnist/fake_images-1-40.png
results/gan_mnist/fake_images-1-50.png
results/gan_mnist/fake_images-1-60.png
results/gan_mnist/fake_images-1-70.png
results/gan_mnist/fake_images-1-80.png
results/gan_mnist/fake_images-1-90.png
results/gan_mnist/fake_images-1-100.png
results/gan_mnist/fake_images-1-110.png
results/gan_mnist/fake_images-1-120.png
results/gan_mnist/fake_images-1-130.png
results/gan_mnist/fake_images-1-140.png
results/gan_mnist/fake_images-1-150.png
results/gan_mnist/fake_images-1-160.png
results/gan_mnist/fake_images-1-170.png
results/gan_mnist/fake_images-1-180.png
results/gan_mnist/fake_images-1-190.png
results/gan_mnist/fake_images-1-200.png
results/gan_mnist/fake_images-2-10.png
results/gan_mnist/fake_images-2-20.png
results/gan_mnist/fake_images-2-30.png
results/gan_mnist/fake_images-2-40.png
results/gan_mnist/fake_images-2-50.png
results/gan_mnist/fake_images-2-60.png
results/gan_mnist/fake_images-2-70.png
results/gan_mnist/fake_images-2-80.png
results/gan_mnist/fake_images-2-90.png
results/gan_mnist/fake_images-2-100.png
results/gan_mnist/fake_images-2-110.png
results/gan_mnist/fake_images-2-120.png
results/gan_mnist/fake_images-2-130.png
results/gan_mnist/fake_images-2-140.png
results/gan_mnist/fake_images-2-150.png
results/gan_mnist/fake_images-2-160.png
results/gan_mnist/fake_images-2-170.png
results/gan_mnist/fake_images-2-180.png
results/gan_mnist/fake_images-2-190.png
results/gan_mnist/fake_images-2-200.png
results/gan_mnist/fake_images-3-10.png
results/gan_mnist/fake_images-3-20.png
results/gan_mnist/fake_images-3-30.png
results/gan_mnist/fake_images-3-40.png
results/gan_mnist/fake_images-3-50.png
results/gan_mnist/fake_images-3-60.png
results/gan_mnist/fake_images-3-70.png
results/gan_mnist/fake_images-3-80.png
results/gan_mnist/fake_images-3-90.png
results/gan_mnist/fake_images-3-100.png
results/gan_mnist/fake_images-3-110.png
results/gan_mnist/fake_images-3-120.png
results/gan_mnist/fake_images-3-130.png
results/gan_mnist/fake_images-3-140.png
results/gan_mnist/fake_images-3-150.png
results/gan_mnist/fake_images-3-160.png
results/gan_mnist/fake_images-3-170.png
results/gan_mnist/fake_images-3-180.png
results/gan_mnist/fake_images-3-190.png
results/gan_mnist/fake_images-3-200.png
results/gan_mnist/fake_images-4-10.png
results/gan_mnist/fake_images-4-20.png
results/gan_mnist/fake_images-4-30.png
results/gan_mnist/fake_images-4-40.png
results/gan_mnist/fake_images-4-50.png
results/gan_mnist/fake_images-4-60.png
results/gan_mnist/fake_images-4-70.png
results/gan_mnist/fake_images-4-80.png
results/gan_mnist/fake_images-4-90.png
results/gan_mnist/fake_images-4-100.png
results/gan_mnist/fake_images-4-110.png
results/gan_mnist/fake_images-4-120.png
results/gan_mnist/fake_images-4-130.png
results/gan_mnist/fake_images-4-140.png
results/gan_mnist/fake_images-4-150.png
results/gan_mnist/fake_images-4-160.png
results/gan_mnist/fake_images-4-170.png
results/gan_mnist/fake_images-4-180.png
results/gan_mnist/fake_images-4-190.png
results/gan_mnist/fake_images-4-200.png
results/gan_mnist/fake_images-5-10.png
results/gan_mnist/fake_images-5-20.png
results/gan_mnist/fake_images-5-30.png
results/gan_mnist/fake_images-5-40.png
results/gan_mnist/fake_images-5-50.png
results/gan_mnist/fake_images-5-60.png
results/gan_mnist/fake_images-5-70.png
results/gan_mnist/fake_images-5-80.png
results/gan_mnist/fake_images-5-90.png
results/gan_mnist/fake_images-5-100.png
results/gan_mnist/fake_images-5-110.png
results/gan_mnist/fake_images-5-120.png
results/gan_mnist/fake_images-5-130.png
results/gan_mnist/fake_images-5-140.png
results/gan_mnist/fake_images-5-150.png
results/gan_mnist/fake_images-5-160.png
results/gan_mnist/fake_images-5-170.png
results/gan_mnist/fake_images-5-180.png
results/gan_mnist/fake_images-5-190.png
results/gan_mnist/fake_images-5-200.png
results/gan_mnist/fake_images-6-10.png
results/gan_mnist/fake_images-6-20.png
results/gan_mnist/fake_images-6-30.png
results/gan_mnist/fake_images-6-40.png
results/gan_mnist/fake_images-6-50.png
results/gan_mnist/fake_images-6-60.png
results/gan_mnist/fake_images-6-70.png
results/gan_mnist/fake_images-6-80.png
results/gan_mnist/fake_images-6-90.png
results/gan_mnist/fake_images-6-100.png
results/gan_mnist/fake_images-6-110.png
results/gan_mnist/fake_images-6-120.png
results/gan_mnist/fake_images-6-130.png
results/gan_mnist/fake_images-6-140.png
results/gan_mnist/fake_images-6-150.png
results/gan_mnist/fake_images-6-160.png
results/gan_mnist/fake_images-6-170.png
results/gan_mnist/fake_images-6-180.png
results/gan_mnist/fake_images-6-190.png
results/gan_mnist/fake_images-6-200.png
results/gan_mnist/fake_images-7-10.png
results/gan_mnist/fake_images-7-20.png
results/gan_mnist/fake_images-7-30.png
results/gan_mnist/fake_images-7-40.png
results/gan_mnist/fake_images-7-50.png
results/gan_mnist/fake_images-7-60.png
results/gan_mnist/fake_images-7-70.png
results/gan_mnist/fake_images-7-80.png
results/gan_mnist/fake_images-7-90.png
results/gan_mnist/fake_images-7-100.png
results/gan_mnist/fake_images-7-110.png
results/gan_mnist/fake_images-7-120.png
results/gan_mnist/fake_images-7-130.png
results/gan_mnist/fake_images-7-140.png
results/gan_mnist/fake_images-7-150.png
results/gan_mnist/fake_images-7-160.png
results/gan_mnist/fake_images-7-170.png
results/gan_mnist/fake_images-7-180.png
results/gan_mnist/fake_images-7-190.png
results/gan_mnist/fake_images-7-200.png
results/gan_mnist/fake_images-8-10.png
results/gan_mnist/fake_images-8-20.png
results/gan_mnist/fake_images-8-30.png
results/gan_mnist/fake_images-8-40.png
results/gan_mnist/fake_images-8-50.png
results/gan_mnist/fake_images-8-60.png
results/gan_mnist/fake_images-8-70.png
results/gan_mnist/fake_images-8-80.png
results/gan_mnist/fake_images-8-90.png
results/gan_mnist/fake_images-8-100.png
results/gan_mnist/fake_images-8-110.png
results/gan_mnist/fake_images-8-120.png
results/gan_mnist/fake_images-8-130.png
results/gan_mnist/fake_images-8-140.png
results/gan_mnist/fake_images-8-150.png
results/gan_mnist/fake_images-8-160.png
results/gan_mnist/fake_images-8-170.png
results/gan_mnist/fake_images-8-180.png
results/gan_mnist/fake_images-8-190.png
results/gan_mnist/fake_images-8-200.png
results/gan_mnist/fake_images-9-10.png
results/gan_mnist/fake_images-9-20.png
results/gan_mnist/fake_images-9-30.png
results/gan_mnist/fake_images-9-40.png
results/gan_mnist/fake_images-9-50.png
results/gan_mnist/fake_images-9-60.png
results/gan_mnist/fake_images-9-70.png
results/gan_mnist/fake_images-9-80.png
results/gan_mnist/fake_images-9-90.png
results/gan_mnist/fake_images-9-100.png
results/gan_mnist/fake_images-9-110.png
results/gan_mnist/fake_images-9-120.png
results/gan_mnist/fake_images-9-130.png
results/gan_mnist/fake_images-9-140.png
results/gan_mnist/fake_images-9-150.png
results/gan_mnist/fake_images-9-160.png
results/gan_mnist/fake_images-9-170.png
results/gan_mnist/fake_images-9-180.png
results/gan_mnist/fake_images-9-190.png
results/gan_mnist/fake_images-9-200.png
results/gan_mnist/G--50--0.ckpt
results/gan_mnist/G--50--1.ckpt
results/gan_mnist/G--50--2.ckpt
results/gan_mnist/G--50--3.ckpt
results/gan_mnist/G--50--4.ckpt
results/gan_mnist/G--50--5.ckpt
results/gan_mnist/G--50--6.ckpt
results/gan_mnist/G--50--7.ckpt
results/gan_mnist/G--50--8.ckpt
results/gan_mnist/G--50--9.ckpt
results/gan_mnist/G--100--0.ckpt
results/gan_mnist/G--100--1.ckpt
results/gan_mnist/G--100--2.ckpt
results/gan_mnist/G--100--3.ckpt
results/gan_mnist/G--100--4.ckpt
results/gan_mnist/G--100--5.ckpt
results/gan_mnist/G--100--6.ckpt
results/gan_mnist/G--100--7.ckpt
results/gan_mnist/G--100--8.ckpt
results/gan_mnist/G--100--9.ckpt
results/gan_mnist/G--150--0.ckpt
results/gan_mnist/G--150--1.ckpt
results/gan_mnist/G--150--2.ckpt
results/gan_mnist/G--150--3.ckpt
results/gan_mnist/G--150--4.ckpt
results/gan_mnist/G--150--5.ckpt
results/gan_mnist/G--150--6.ckpt
results/gan_mnist/G--150--7.ckpt
results/gan_mnist/G--150--8.ckpt
results/gan_mnist/G--150--9.ckpt
results/gan_mnist/G--200--0.ckpt
results/gan_mnist/G--200--1.ckpt
results/gan_mnist/G--200--2.ckpt
results/gan_mnist/G--200--3.ckpt
results/gan_mnist/G--200--4.ckpt
results/gan_mnist/G--200--5.ckpt
results/gan_mnist/G--200--6.ckpt
results/gan_mnist/G--200--7.ckpt
results/gan_mnist/G--200--8.ckpt
results/gan_mnist/G--200--9.ckpt
results/gan_mnist/loss_1.pdf
results/gan_mnist/loss_2.pdf
results/gan_mnist/loss_3.pdf
results/gan_mnist/loss_4.pdf
results/gan_mnist/loss_5.pdf
results/gan_mnist/loss_6.pdf
results/gan_mnist/loss_7.pdf
results/gan_mnist/loss_8.pdf
results/gan_mnist/loss_9.pdf
shadow/mnist_client_0_results.pt
shadow/mnist_client_1_results.pt
shadow/mnist_client_2_results.pt
shadow/mnist_client_3_results.pt
shadow/mnist_client_4_results.pt
shadow/mnist_client_5_results.pt
shadow/mnist_client_6_results.pt
shadow/mnist_client_7_results.pt
shadow/mnist_client_8_results.pt
shadow/mnist_client_9_results.pt
shadow/mnist_fl_siamese.h5
__pycache__/models.cpython-312.pyc
__pycache__/participants.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
testspace.ipynb
internship.code-workspace
testspace.ipynb
.vscode/launch.json
__pycache__/snn.cpython-311.pyc
euclidian_net.png
siamese_net.png
euclidian_net.jpg
siamese_net.jpg
__pycache__/models.cpython-311.pyc
__pycache__/participants.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
data/EMNIST/raw/emnist-balanced-mapping.txt
data/EMNIST/raw/emnist-balanced-test-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-balanced-test-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-balanced-train-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-balanced-train-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-byclass-mapping.txt
data/EMNIST/raw/emnist-byclass-test-images-idx3-ubyte
data/EMNIST/raw/emnist-byclass-test-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-byclass-test-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-byclass-train-images-idx3-ubyte
data/EMNIST/raw/emnist-byclass-train-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-byclass-train-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-bymerge-mapping.txt
data/EMNIST/raw/emnist-bymerge-test-images-idx3-ubyte
data/EMNIST/raw/emnist-bymerge-test-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-bymerge-test-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-bymerge-train-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-bymerge-train-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-digits-mapping.txt
data/EMNIST/raw/emnist-digits-test-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-digits-test-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-digits-train-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-digits-train-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-letters-mapping.txt
data/EMNIST/raw/emnist-letters-test-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-letters-test-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-letters-train-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-letters-train-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-mnist-mapping.txt
data/EMNIST/raw/emnist-mnist-test-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-mnist-test-labels-idx1-ubyte.gz
data/EMNIST/raw/emnist-mnist-train-images-idx3-ubyte
data/EMNIST/raw/emnist-mnist-train-images-idx3-ubyte.gz
data/EMNIST/raw/emnist-mnist-train-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip.zip
data/EMNIST/raw/gzip/emnist-balanced-mapping.txt
data/EMNIST/raw/gzip/emnist-balanced-test-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-balanced-test-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-balanced-train-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-balanced-train-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-byclass-mapping.txt
data/EMNIST/raw/gzip/emnist-byclass-test-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-byclass-test-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-byclass-train-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-byclass-train-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-bymerge-mapping.txt
data/EMNIST/raw/gzip/emnist-bymerge-test-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-bymerge-test-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-bymerge-train-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-bymerge-train-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-digits-mapping.txt
data/EMNIST/raw/gzip/emnist-digits-test-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-digits-test-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-digits-train-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-digits-train-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-letters-mapping.txt
data/EMNIST/raw/gzip/emnist-letters-test-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-letters-test-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-letters-train-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-letters-train-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-mnist-mapping.txt
data/EMNIST/raw/gzip/emnist-mnist-test-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-mnist-test-labels-idx1-ubyte.gz
data/EMNIST/raw/gzip/emnist-mnist-train-images-idx3-ubyte.gz
data/EMNIST/raw/gzip/emnist-mnist-train-labels-idx1-ubyte.gz
results/mnist_0.1_1->7_backdoor_results.pt
data/EMNIST/raw/emnist-balanced-test-images-idx3-ubyte
data/EMNIST/raw/emnist-balanced-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-balanced-train-images-idx3-ubyte
data/EMNIST/raw/emnist-balanced-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-byclass-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-byclass-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-bymerge-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-bymerge-train-images-idx3-ubyte
data/EMNIST/raw/emnist-bymerge-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-digits-test-images-idx3-ubyte
data/EMNIST/raw/emnist-digits-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-digits-train-images-idx3-ubyte
data/EMNIST/raw/emnist-digits-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-letters-test-images-idx3-ubyte
data/EMNIST/raw/emnist-letters-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-letters-train-images-idx3-ubyte
data/EMNIST/raw/emnist-letters-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-mnist-test-images-idx3-ubyte
data/EMNIST/raw/emnist-mnist-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-mnist-train-labels-idx1-ubyte
__pycache__/poisoned_dataset.cpython-311.pyc
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
results/emnist_0.1_0->1_backdoor_results.pt
results/emnist_average_results.pt
results/emnist_client_0_results.pt
results/emnist_client_1_results.pt
results/emnist_server_results.pt
results/fmnist_0.1_0->1_backdoor_results.pt
results/fmnist_average_results.pt
results/fmnist_client_0_results.pt
results/fmnist_client_1_results.pt
results/fmnist_server_results.pt
results/gan_emnistD_0.ckpt
results/gan_emnistD_1.ckpt
results/gan_emnistG_0.ckpt
results/gan_emnistG_1.ckpt
results/gan_fmnistD_0.ckpt
results/gan_fmnistD_1.ckpt
results/gan_fmnistG_0.ckpt
results/gan_fmnistG_1.ckpt
results/holdout.pt
results/mnist_0.1_0->1_backdoor_results.pt
results/fake_datasets_emnist/fake_dataset_0.pt
results/fake_datasets_emnist/fake_dataset_1.pt
results/fake_datasets_fmnist/fake_dataset_0.pt
results/fake_datasets_fmnist/fake_dataset_1.pt
results/gan_emnist/accuracy_0.pdf
results/gan_emnist/accuracy_1.pdf
results/gan_emnist/d_losses.npy
results/gan_emnist/fake_scores.npy
results/gan_emnist/g_losses.npy
results/gan_emnist/loss_0.pdf
results/gan_emnist/loss_1.pdf
results/gan_emnist/real_images.png
results/gan_emnist/real_scores.npy
results/gan_fmnist/accuracy_0.pdf
results/gan_fmnist/accuracy_1.pdf
results/gan_fmnist/d_losses.npy
results/gan_fmnist/fake_scores.npy
results/gan_fmnist/g_losses.npy
results/gan_fmnist/loss_0.pdf
results/gan_fmnist/loss_1.pdf
results/gan_fmnist/real_images.png
results/gan_fmnist/real_scores.npy
