data/cifar-100-python.tar.gz
data/cifar-100-python/file.txt~
data/cifar-100-python/meta
data/cifar-100-python/test
data/cifar-100-python/train
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
results/cifar100_average_results.pt
results/cifar100_client_0_results.pt
results/cifar100_client_1_results.pt
results/cifar100_server_results.pt
results/mnist_average_results.pt
results/mnist_client_0_results.pt
results/mnist_client_1_results.pt
results/mnist_server_results.pt
results/gan_mnist/accuracy_0.pdf
results/gan_mnist/d_losses.npy
results/gan_mnist/fake_scores.npy
results/gan_mnist/g_losses.npy
results/gan_mnist/loss_0.pdf
results/gan_mnist/real_images.png
results/gan_mnist/real_scores.npy
__pycache__/utils.cpython-312.pyc
